%h5 Shipping Address
= f.fields_for :shipping_address, @profile.shipping_address do |ff|
  .field
    = ff.label      :user_address
    = ff.text_field :user_address
  .field
    = ff.label      :zipcode
    = ff.text_field :zipcode
  .field
    = ff.label      :city
    = ff.text_field :city
  .field
    = ff.label      :phone 
    = ff.text_field :phone
  = ff.fields_for :country, @profile.shipping_address.country do |fff|
    .field
      = fff.label      :name, "Country"
      = fff.text_field :name