%h5 Shipping Address
= f.fields_for :shipping_address, @profile.shipping_address do |ff|
  .field
    = ff.label      :first_name
    = ff.text_field :first_name
  .field
    = ff. label     :last_name
    = ff.text_field :last_name
  .field
    = ff.label      :user_address
    = ff.text_field :user_address
  .field
    = ff.label      :zipcode
    = ff.text_field :zipcode
  .field
    = ff.label      :city
    = ff.text_field :city
  .field
    = ff.label      :phone 
    = ff.text_field :phone
  .field
    = ff.select  :country_id,
                  options_from_collection_for_select(Country.all, :id, :name, @profile.shipping_address.country.id),
                  {},
                  {class: 'input-field'}