.container
  .row.left-align
    %h5
      Wishlist
  .row
    %table
      %thead
        %tr
          %th
            Author
          %th
            Title
          %th
            Category
          %th
            Price
      %tbody
        - current_user.books.each do |book|
          %tr
            %td
              = book.author.full_name
            %td
              = book.title
            %td
              = book.category.category_name
            %td
              = book.price
            %td
              = link_to "Show", book
            %td
              = link_to "Delete", delete_from_wish_list_book_path(book), 
                                  method: :delete, remote:  true
