%p#notice= notice
%table
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Biography
  %tbody
    %tr
      %td
        = @author.first_name
      %td
        = @author.last_name
      %td
        = @author.biography
- if can? :manage, :author
  = link_to 'Edit', edit_author_path(@author)
  |
= link_to 'Back', authors_path