-# - @order.build_shipping_address; @order.build_shipping_address.country if @order.shipping_address.nil? 
= render "paying_preview"
.order_check
  %table
    %tr 
      %h5.underscore Credit Card
    %tr
      %td
        Number:
      %td
        = @order.credit_card.number
    %tr
      %td
        CVV:
      %td
        = @order.credit_card.cvv
    %tr
      %td 
        Expiration Year:
      %td
        = @order.credit_card.expiration_year
    %tr
      %td
        Expiration Month:
      %td
        = @order.credit_card.expiration_month
    %tr
      %td
        First Name
      %td
        = @order.credit_card.first_name
    %tr
      %td
        Last Name
      %td
        = @order.credit_card.last_name
    %tr
      %td
      %td.upperscore
        Total Price:
        = @order.total_price