.container
  .row
    .valign-wrapper
      %h5.order-book-link-panel
        Checkout
      -# %h5.order-book-link-panel.center
      %ol.track-progress.class.center(data-steps="4")
        - @order.order_steps.each do |k, v|
          - if wizard_steps.include?(k.to_sym)
            %li.done
              %span
                =link_to "#{k.to_s.capitalize}", "#{k}"
          - else
            %li
              %span
                = "#{k.capitalize}"
  .row
    = form_for @order, url: wizard_path do |f|
      = yield f
      = f.button "Save and Continue", class: "waves-effect waves-light btn" 