.container
  .row
    .class
      %h5.order-book-link-panel
        Checkout
      %h5.order-book-link-panel.center
        - @order.order_steps.each do |k, v|
          - if wizard_steps.include?(k.to_sym)
            =link_to "#{k.to_s.capitalize}", "#{k}"
          - else
            = "#{k.capitalize}"
  .row
    = form_for @order, url: wizard_path do |f|
      = yield f
      = f.button "Save and Continue", class: "waves-effect waves-light btn" 