.container
  .row
    %h5.center-align
      = link_to "< Previous Step", previous_wizard_path unless step == :shipping
      = step.capitalize
      = link_to "Next Step >", next_wizard_path unless step == :confirmation
  .row
    .col.l8.m8.s12.offset-l2.offset-m2
      .card.check
        = render "confirmation_preview"
      = form_for @order, url: wizard_path do |f|
        - if @order.errors.any?
          .error_messages
            %h2
              = pluralize(@order.errors.count, "error")
              prohibited this user from being saved:
            %ul
              - @order.errors.full_messages.each do |msg|
                %li= msg
        #block.left-align
          = f.check_box :order_accepted, id:  "order_accepted_#{@order.id}"
          = f.label     " ",       for: "order_accepted_#{@order.id}"
          = f.button "Accept", class: "waves-effect waves-light btn"