= render layout: "form" do |f|
  .col.l6.m6.s12
    %h5
      Choose Delivery service
    = f.fields_for :delivery, @order.delivery || @order.build_delivery do |ff|
      %ul
      - Delivery.all.each do |d|
        %li.delivery-select
          = ff.radio_button :delivery, "#{d.id}", 
                            checked: "#{check_delivery(@order.delivery_id, d.id)}",
                            id: "delivery_#{d.id}",
                            name:"order[delivery_attributes][delivery_id]"
          = ff.label :delivery, "#{d.name} - $#{d.price}", for: "delivery_#{d.id}"
  .col.l6.m6.s12
    %ul
      %li
        %h5.right-align
          ORDER SUMMARY
      %li
        %h6.right-align#item_price
          ITEM TOTAL: $
          = @order.books_price
      %li
        %h6.right-align
          SALE: $
          - if @order.coupon.nil?
            = "0.00"
          - else
            = @order.sale_price
      %li
        %h6.right-align#delivery_price
          SHIPPING: $
          = @order.delivery.price
      %li
        %h6.right-align#total_price
          ORDER TOTAL: $
          = @order.total_price
  .row