.row.order-table-row
  .col.s8.offset-s2#ordered-books-table
    %hr
      %h5.center Ordered Books
    %hr
    %table
      %thead
        %tr
          %th= "Book author"
          %th= "Book title"
          %th= "Book price"
          %th= "Book quantity"
      %tbody
        - cart_books.each do |book|
          %tr
            %td= book["author"]
            %td= book["title"]
            %td= book["price"]
            %td= book["quantity"]
    %hr
    %ul
      %li
        Total price:
        = cart_total_price



