%h3 Ordered Books
= render "books/cart_books_list"
= form_for(@order) do |f|
  - if @order.errors.any?
    #error_explanation
      %h2
        = pluralize(@order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - @order.errors.full_messages.each do |message|
          %li= message
  - session["cart"]["books"].each do |book|
    %ul
      %li
        = f.text_field :book_title, value: book["title"], disabled: true
        = f.text_field :quantity, value: book["quantity"], disabled: true
  .actions
    = f.submit
