%tr
  %td 
    = "R#{order.id}"
  %td
    = order.completed_date
  %td
    = order.total_price
  %td
    = link_to 'View', order
  - if can? :manage, :all
    %td
      = order.aasm.states(:permitted => true).map(&:name)
