%h5.center-align Ordered books
.container
  .row
    = form_for @order do |f|
      %table
        %thead
          %tr
            %th
            %th BOOK
            %th PRICE
            %th QTY
            %th TOTAL
        %tbody
          - @order.order_books.each do |position|
            %tr
              %td{colspan: "5"}
                .errors.center
                  - if position.errors.any?
                    - position.errors.messages[:base].each do |msg|
                      = msg
            %tr.underscore
              %td 
                = image_tag position.book.cover_url(:thumb).to_s
              %td.book-info-cell
                %ul
                  %li.book-info
                    Author:
                    = position.book.author.full_name
                  %li.book-info
                    Title:
                    = position.book.title
                  %br
                  %li
                    = position.book.description
              %td
                %span
                  $
                  %span.book-price
                    = position.book.price
              %td 
                = f.fields_for      :order_books, position do |ff|
                  = ff.text_field   :quantity, class: "order-quantity"
                  = ff.hidden_field :book_id
              %td
                .total-price
                  $
                  = position.price*position.quantity
              %td
                .delete-book-position
                  = link_to  delete_from_cart_book_path(position.book), method: :delete do
                    %span.small.material-icons close
      .right-align.cart-order-panel
        %h5 
          SUBTOTAL:
          $
          = @order.total_price
      .row
        %ul.cart-button-panel
          %li.left
            = f.button "Empty Cart", value: "empty_cart",         class: "btn waves-effect waves-light"
          %li.left
            = link_to "Continue Shopping", root_path,             class: "btn waves-effect waves-light"
          %li.right
            = link_to "Checkout", order_order_steps_path(@order), class: "btn waves-effect waves-light"
          %li.right
            = f.button "Update",  name: "update",                 class: "btn waves-effect waves-light"

