%p#notice= notice
.container
  .row
    .col.l12.m12.s12
    %h5 ORDERS
  .row
    .col.l12.m12.s12
    %h6.order-status.underscore-solid
      IN PROGRESS
    - if @order.order_books.empty?
      %h5.center-align 
        Your cart is empty
    - else
      %table
        %thead
          %tr
            %th
            %th BOOK
            %th PRICE
            %th QTY
            %th TOTAL
        %tbody
          - @order.order_books.each do |position|
            %tr
              %td{colspan: "5"}
                .errors.center
                  = errors_builder(flash[:errors],{order_book: position.id})
            %tr.underscore
              %td 
                = image_tag position.book.cover_url(:thumb).to_s
              %td.book-info-cell
                %ul
                  %li.book-info
                    Author:
                    = position.book.author.full_name
                  %li.book-info
                    Title:
                    = position.book.title
                  %br
                  %li
                    = position.book.description
              %td
                %span
                  $
                  %span.book-price
                    = position.book.price
              %td 
                = position.quantity
              %td
                .total-price
                  $
                  = position.price*position.quantity
      .right-align.cart-order-panel
        .left
          = link_to "Go To Cart", cart_order_path(@order),             class: "btn waves-effect waves-light"
        %h6
          Books Price:  $
          = @order.books_price
        %h6
          Sale:  -$
          = @order.sale*@order.books_price
        %h5 
          SUBTOTAL:
          $
          = @order.total_price
  .row
    %h6.order-status.underscore-solid 
      IN PROCESS
    %table
      %theader
        %tr
          %th.orders-table-status-header
            NUMBER
          %th.orders-table-status-header
            COMPLETED DATE
          %th.orders-table-status-header
            TOTAL
      %tbody
        = render partial: 'order', collection: @orders.where(status: 'in_process')
  .row
    %h6.order-status.underscore-solid 
      IN DELIVERY
    - unless @orders.where(status: 'in_delivery').empty?
      %table
        %theader
          %tr
            %th.orders-table-status-header
              NUMBER
            %th.orders-table-status-header
              COMPLETED DATE
            %th.orders-table-status-header
              TOTAL
        %tbody
          = render partial: 'order', collection: @orders.where(status: 'in_delivery')
  .row
    %h6.order-status.underscore-solid 
      DONE
    - unless @orders.where(status: 'done').empty?
      %table
        %theader
          %tr
            %th.orders-table-status-header
              NUMBER
            %th.orders-table-status-header
              COMPLETED DATE
            %th.orders-table-status-header
              TOTAL
        %tbody
          = render partial: 'order', collection: @orders.where(status: 'done')

