.container
  .row
    .col.l12.m12.s12
      = link_to '<< Back to orders', orders_path
      %h5.underscore-solid.valign-wrapper
        Order
        = "R#{@order.id}"
      %h6.left-align
        Status:
        = "#{@order.status}"
  -unless @order.in_progress?
    .row
      .col.l3.m3.s12
        %h6.confirm-title
          Shipping Address
        %ul
          %li
            = "#{@order.shipping_address.first_name} #{@order.shipping_address.last_name}"
          %li
            = @order.shipping_address.user_address
          %li
            = @order.shipping_address.city
          %li
            = @order.shipping_address.country.name
          %li
            = @order.shipping_address.zipcode
          %li
            = @order.shipping_address.phone
      .col.l3.m3.s12
        %h6.confirm-title
          Billing Address
        %ul
          %li
            = "#{@order.billing_address.first_name} #{@order.billing_address.last_name}"
          %li
            = @order.billing_address.user_address
          %li
            = @order.billing_address.city
          %li
            = @order.billing_address.country.name
          %li
            = @order.billing_address.zipcode
          %li
            = @order.billing_address.phone
      .col.l3.m3.s12
        %h6.confirm-title
          Shipments
        %ul
          %li
            = @order.delivery.name
          %li
            $
            = @order.delivery.price
      .col.l3.m3.s12
        %h6.confirm-title
          Payment Information
        %ul
          %li
            = "** ** ** #{@order.credit_card.number[-4..-1]} "
          %li
            = "#{@order.credit_card.expiration_month}/#{@order.credit_card.expiration_year}"
  .row
    %table
      %thead
        %tr
          %th
          %th BOOK
          %th PRICE
          %th QTY
          %th TOTAL
      %tbody
        - @order.order_books.each do |position|
          %tr
            %td{colspan: "5"}
              .errors.center
                = errors_builder(flash[:errors],{order_book: position.id})
          %tr.underscore
            %td 
              = image_tag position.book.cover_url(:thumb).to_s
            %td.book-info-cell
              %ul
                %li.book-info
                  Author:
                  = position.book.author.full_name
                %li.book-info
                  Title:
                  = position.book.title
                %br
                %li
                  = position.book.description
            %td
              %span
                $
                %span.book-price
                  = position.book.price
            %td
              = position.quantity 
            %td
              .total-price
                $
                = position.price*position.quantity
    .right-align.cart-order-panel
      %h6
        Books Price:  $
        = @order.books_price
      %h6
        Sale:  -$
        = @order.sale*@order.books_price
        
      %h5 
        SUBTOTAL:
        $
        = @order.total_price

