%tr
  %td= book.title
  %td= book.description
  %td= book.price
  %td= book.quantity
  - if can? :manage, @book
    %td= link_to 'Show', book
    %td= link_to 'Edit', edit_book_path(book)
    %td= link_to 'Destroy', book, method: :delete,  data: { confirm: 'Are you sure?' }