- if can? :manage, :book
  %tr
    %td= book.title
    %td= book.description
    %td= book.price
    %td= book.quantity
    %td= book.author.full_name
    %td= book.category.category_name
    %td= link_to "Wish", add_to_wish_list_book_path(book),   method: :post, remote: true
    %td= link_to "Delete from wish", delete_from_wish_list_book_path(book), method: :delete, remote: true
    %td= link_to "Add to cart", add_to_cart_book_path(book), method: :post, remote: true
    %td= link_to 'Show', book
    - if can? :manage, :book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, method: :delete,  data: { confirm: 'Are you sure?' }
- else
  .card
    -# = image_tag book.cover_url(:thumb).to_s
    .card-image.waves-effect.waves-block.waves-light.activator
      = image_tag book.cover_url.to_s, class: "activator"
      -# %span.card-title 
    .card-content
      %p.center-align
        = link_to "Add to cart", add_to_cart_book_path(book), class: "waves-effect waves-light btn ", method: :post, remote: true
    .card-reveal
      %span.card-title.grey-text.text-darken-4
        %i.material-icons.right  close
      %ul.align-center
        %li.align-center
          Author
          %br
          = book.author.full_name
        %li
          Title
          = book.title
        %li 
          Price:
          = book.price
        %li
          = link_to 'Full Info', book
          %br
          = link_to "Wish", add_to_wish_list_book_path(book),   method: :post, remote: true
      %p.center-align
        = link_to "Add to cart", add_to_cart_book_path(book), 
                                 class: "waves-effect waves-light btn ", 
                                 method: :post, remote: true



