-# -unless cart_books.nil?
- cart_books.each do |book|
  %ul
    %li
      = book["title"]
      = book["price"]
      = book["id"]
      = book["quantity"]
      - unless book["id"].nil?
        = link_to "Show" , book_path(Book.find(book["id"]))
        = link_to "Delete",delete_from_cart_book_path(Book.find(book["id"])), method: :delete, remote:true
= cart_total_price