= form_for(@book) do |f|
  - if @book.errors.any?
    #error_explanation
      %h2
        = pluralize(@book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - @book.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label       :title
    = f.text_field  :title
  .field
    = f.label       :description
    = f.text_field  :description
  .field
    = f.label       :price
    = f.text_field  :price, :value => number_with_precision(@book.price, :precision => 2)
  .field
    = f.label       :quantity
    = f.text_field  :quantity, :value => number_with_precision(@book.quantity, :precision => 0)
  
  = f.label      :author_id
  = f.select     :author_id, 
             options_from_collection_for_select(Author.all, :id, :full_name),
             {},
             {class: 'input-field'}

  = f.label      :category_id
  = f.select     :category_id, 
             options_from_collection_for_select(Category.all, :id, :category_name),
             {},
             {class: 'input-field'}

  = f.submit 'Save'

      




