.container
  .row
    .col.l4.m4.s12
      = link_to '<< Back to Shop', root_path
      .book-info
        = @book.author.full_name
      .book-info
        = @book.title
      .book-cover
        = image_tag @book.cover_url.to_s
    .col.l6.m6.s12
      %table
        %tbody
          %tr
            %td
              #link_wish_list
                = render "books/wish_list_link"
          %tr
            %td
              $
              = @book.price
            %td.right-align
              = link_to "Add to cart", add_to_cart_book_order_path(@order_as_cart, book_id: @book.id), class: "waves-eff waves-light btn", method: :post, remote: true
          %tr
            %td{colspan: "2"}
              = @book.description
    .col.s1.m2.l2
      %h5 
        Wishlist
      %h5
        #wishlist
          =users_list @book
  .row
    %h5.underscore-solid
      Reviews
    - book_reviews(@book).each do |review|
      %ul
        .valign-wrapper
          %li.rating-star
            = render_stars(review.rating)
          %li.review-user
            by
            = review.user.email.split('@').first
          %li.review-date
            = "#{review.created_at.strftime('%B %-d, %Y')}"
        %li
          = review.text
  .row
    .wishlist.align-right
      = render 'reviews/form', locals: {book_id: @book.id}
- if can? :manage, :book
  = link_to 'Edit', edit_book_path(@book)
