= form_for(@review) do |f|
  - if @review.errors.any?
    #error_explanation
      %h2
        = pluralize(@review.errors.count, "error")
        prohibited this review from being saved:
      %ul
        - @review.errors.full_messages.each do |message|
          %li= message
  .rating
    %input#rating5{:name => "review[rating]", :type => "radio", :value => "5"}/
    %label{:for => "rating5"} 
    %input#rating4{:name => "review[rating]", :type => "radio", :value => "4"}/
    %label{:for => "rating4"} 
    %input#rating3{ :checked => "checked", :name => "review[rating]", :type => "radio", :value => "3"}/
    %label{:for => "rating3"} 
    %input#rating2{:name => "review[rating]", :type => "radio", :value => "2"}/
    %label{:for => "rating2"} 
    %input#rating1{:name => "review[rating]", :type => "radio", :value => "1"}/
    %label{:for => "rating1"} 
  = f.label :text, class: "hide"
  = f.text_area :text
  = f.hidden_field :book_id, :value => @review.book_id
  .actions
    = f.button "Create Review", class: "waves-effect waves-light btn "

