- if cannot? :manage, Book
  - if can_build_cart?
    = link_to cart_order_path(@order), class: "valign-wrapper" do
      .nav-cart
        = content_tag(:i, "shopping_cart", class: "material-icons nav-cart")
      .nav-cart
        = cart_main_panel
  - else
    = link_to root_path, class: "valign-wrapper" do
      .nav-cart
        = content_tag(:i, "shopping_cart", class: "material-icons nav-cart")
      .nav-cart
        = cart_main_panel
