!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bookstore
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "//fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet" }
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css", :rel => "stylesheet"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"}
  %body
    .page-wrap
      %nav
        .nav-wrapper
          = link_to "BookStore", root_path, class: "brand-logo"
          %ul.right
            - if can_build_cart?
              %li
                = link_to cart_path(build_cart), class: "valign-wrapper" do
                  .nav-cart
                    = content_tag(:i, "shopping_cart", class: "material-icons nav-cart")
                  .nav-cart
                    = cart_main_panel
                    
            - if current_user
              %li 
                = link_to "Orders", orders_path
              %li
                = current_user_profile
              %li
                = link_to 'Sign out', destroy_user_session_path, 
                                      method: :delete
            - else
              %li
                = link_to 'Sign In', new_user_session_path
      = flash[:errors].inspect
      -# = @order.coupon.number.inspect unless @order.coupon.number.nil?
      -# = session[:previous_url].inspect
      -# = @cart.inspect
      -# = session["session_id"]
      -# = session["temp_order"].inspect
      -# = temp_order
      -# = session["session_id"]
      -# = session["order"].inspect
      -# = session["cart"]["order_id"].inspect
      -# = @order.id
      -# - if flash[:notice].present?
      #notice= flash[:notice]
      -# - if flash[:error].present?
      -#   #notice= flash[:error]
      -# %p

      = yield
    .page-footer
      Footer
    %script{type: "text/javascript"}
      -# $('select#book_category_id').select2();
      -# $('select#book_author_id').select2();
 


  
